@font-face {
    font-family: "D DIN";
    src: url("https://www.jax.org/_res/css/modules/fonts/free/d-din-webfont.woff2") format("woff2"),
         url("https://www.jax.org/_res/css/modules/fonts/free/d-din-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "D DIN";
    src: url("https://www.jax.org/_res/css/modules/fonts/free/d-din-bold-webfont.woff2") format("woff2"),
         url("https://www.jax.org/_res/css/modules/fonts/free/d-din-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "D DIN Condensed";
    src: url("https://www.jax.org/_res/css/modules/fonts/free/d-dincondensed-webfont.woff2") format("woff2"),
         url("https://www.jax.org/_res/css/modules/fonts/free/d-dincondensed-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "D DIN Condensed";
    src: url("https://www.jax.org/_res/css/modules/fonts/free/d-dincondensed-bold-webfont.woff2") format("woff2"),
         url("https://www.jax.org/_res/css/modules/fonts/free/d-dincondensed-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}