$blue: #009ed0 !default;
$hl-blue: #04c3ff !default;
$dark-blue: #05396b !default;
$black: #2c2a29 !default;
$yellow: #f1c400 !default;
$light-orange: #ed8b00 !default;
$orange: #dc582a !default;
$red: #ab2328 !default;
$purple: #8a1b61 !default;
$dark-green: #005151 !default;
$green: #43b02a !default;
$hl-green: #2fd109 !default;

$dark-gray: #333f48 !default;
$gray: #a2aaad !default;
$light-gray: #d0d3d4 !default;


$primary: $blue !default;


$font-family-sans-serif: "DIN Next", "D DIN", Helvetica, Arial, sans-serif !default;
$font-family-serif: WhitmanDisplay, "Times New Roman", Times, serif !default;
$font-family-base: $font-family-sans-serif !default;
$condensed-font-family: "DIN Next Condensed", "D DIN Condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
$headings-font-family: $condensed-font-family !default;


$navbar-height: 88px;
